<div class="home-component">
  <div class="text-box">
    <h1 class="text-center">Welcome!</h1>
    <p>
      In here, you will find custom made Terraform providers and modules to suit your Infrastructure as Code needs.
    </p>
  </div>
  <div class="search-box">
    <input type="text" class="form-control" placeholder="Search for providers or modules within the registry" id="registryTypeAhead"
           aria-label="Search for providers or modules within the registry" aria-describedby="basic-addon2">
  </div>
  <div class="explain-box">
    <div class="row no-gutters">
      <div class="col description-block">
        <h3 class="border-bottom border-primary">Providers</h3>
        <p class="lead">What are Terraform providers?</p>
        <p>
          Terraform providers are essentially plugins that implement data and resource types.
          Typical examples of providers are <strong>AzureRM</strong> and <strong>AWS</strong> that are found on Hashicorp's public
          repository.
        </p>
        <div class="text-center">
          <div class="browse border border-primary mx-auto box-shadow"><a [routerLink]="['/browse/providers']"><i class="fas fa-globe"></i>&nbsp;Browse Providers</a></div>
        </div>
      </div>
      <div class="col description-block">
        <h3 class="border-bottom border-primary">Modules</h3>
        <p class="lead">What are Terraform modules?</p>
        <p>
          Terraform modules are reusable snippets of Terraform configuration. They are groups of resources combined into one and are managed as if a single resource.
        </p>
        <div class="text-center">
          <div class="browse border border-primary mx-auto box-shadow"><a [routerLink]="['/browse/modules']"><i class="fas fa-layer-group"></i>Browse Modules</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
