<h2>Categories</h2>
<p>Click on any one of these category filters refine your search</p>
<div class="border-bottom border-primary mb-1">&nbsp;</div>
<form>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="automation" />
      <label class="form-check-label" for="automation">Automation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="cicd" />
      <label class="form-check-label" for="cicd">Continuous Integration/Deployment</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="iaas" />
      <label class="form-check-label" for="iaas">Infrastructure as a Service</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="logging" />
      <label class="form-check-label" for="logging">Logging</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="networking" />
      <label class="form-check-label" for="networking">Networking</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="paas" />
      <label class="form-check-label" for="paas">Platform as a Service</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="utility" />
      <label class="form-check-label" for="utility">Utility</label>
    </div>
  </div>
</form>
