<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-body">
      <h4 class="card-title">Sign In</h4>
      <p class="card-text">
        Because Dot Registry works in conjuction with Git Hub, you will have to sign in with your GitHub account.
        If this is your first time signing up, once you sign in, a profile will be created for you.
      </p>
      <a href="/auth" class="card-link">
        Sign In with your <i class="fab fa-github"></i> GitHub account
      </a>
    </div>
  </div>
</div>
